<a href="https://colab.research.google.com/github/Tanmayshukla20/ML/blob/main/14_Handeling_mixed_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Mixed data**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('titanic.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'titanic.csv'

In [ ]:
df.head()

In [ ]:
df['number'].unique()

In [ ]:
fig = df['number'].value_counts().plot.bar()
fig.set_title('Passengers travelling with')

In [ ]:
# extract numerical part
df['number_numerical'] = pd.to_numeric(df["number"],errors='coerce',downcast='integer')

In [ ]:
# extract categorical part
df['number_categorical'] = np.where(df['number_numerical'].isnull(),df['number'],np.nan)

df.head()

In [ ]:
df['Cabin'].unique()

In [ ]:
df['Ticket'].unique()

In [ ]:
df['cabin_num'] = df['Cabin'].str.extract('(\d+)') # captures numerical part
df['cabin_cat'] = df['Cabin'].str[0] # captures the first letter

df.head()

In [ ]:
df['cabin_cat'].value_counts()

In [ ]:
df['cabin_cat'].value_counts().plot(kind='bar')

In [ ]:
# extract the last bit of ticket as number
df['ticket_num'] = df['Ticket'].apply(lambda s: s.split()[-1])
df['ticket_num'] = pd.to_numeric(df['ticket_num'],
                                   errors='coerce',
                                   downcast='integer')

# extract the first part of ticket as category
df['ticket_cat'] = df['Ticket'].apply(lambda s: s.split()[0])
df['ticket_cat'] = np.where(df['ticket_cat'].str.isdigit(), np.nan,
                              df['ticket_cat'])

df.head(20)

In [ ]:
df['ticket_cat'].unique()

# **Date and Time**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
date = pd.read_csv('orders.csv')
time = pd.read_csv('messages.csv')

In [ ]:
date.head()

In [ ]:
time.head()

In [ ]:
 #when u import a dataframe in pandas it and if it contains date and time columns than by default it converts to object(string) so u need to convert it inorder to work on it.

In [ ]:
date.info()

In [ ]:
time.info()

# **Working with Dates**

In [ ]:
# Converting to datetime datatype
date['date'] = pd.to_datetime(date['date'])

In [ ]:
date.info()

# 1. Extract year

In [ ]:
date['date_year'] = date['date'].dt.year

date.sample(5)

# 2. Extract Month

In [ ]:
date['date_month_no'] = date['date'].dt.month

date.head()

In [ ]:
date['date_month_name'] = date['date'].dt.month_name()

date.head()

# 3. Extract Days

In [ ]:
date['date_day'] = date['date'].dt.day

date.head()

In [ ]:
# day of week
date['date_dow'] = date['date'].dt.dayofweek

date.head()

In [ ]:
# day of week - name

date['date_dow_name'] = date['date'].dt.day_name()

date.drop(columns=['product_id','city_id','orders']).head()

In [ ]:
# is weekend?

date['date_is_weekend'] = np.where(date['date_dow_name'].isin(['Sunday', 'Saturday']), 1,0)

date.drop(columns=['product_id','city_id','orders']).head()

# 4. Extract week of the year

In [ ]:
date['date_week'] = date['date'].dt.isocalendar().week

date.drop(columns=['product_id','city_id','orders']).head()

# 5. Extract Quarter

In [ ]:
date['quarter'] = date['date'].dt.quarter

date.drop(columns=['product_id','city_id','orders']).head()

# 6. Extract Semester

In [ ]:
date['semester'] = np.where(date['quarter'].isin([1,2]), 1, 2)

date.drop(columns=['product_id','city_id','orders']).head()

# 7. Extract Time elapsed between dates

In [ ]:
import datetime

today = datetime.datetime.today()

today

In [ ]:
today - date['date']

In [ ]:
(today - date['date']).dt.days

In [ ]:
# Months passed

# Calculate the difference in years and multiply by 12, then add the difference in months.
# This is one way to approximate the number of months passed.
months_passed = (today.year - date['date'].dt.year) * 12 + (today.month - date['date'].dt.month)

# Round to the nearest whole number
months_passed = np.round(months_passed, 0)

print(months_passed)

In [ ]:
time.info()

In [ ]:
# Converting to datetime datatype
time['date'] = pd.to_datetime(time['date'])

In [ ]:
time.info()

In [ ]:
time['hour'] = time['date'].dt.hour
time['min'] = time['date'].dt.minute
time['sec'] = time['date'].dt.second

time.head()

In [ ]:
time['time'] = time['date'].dt.time

time.head()

# Time difference

In [ ]:
today - time['date']

In [ ]:
# in seconds

(today - time['date'])/np.timedelta64(1,'s')

In [ ]:
# in minutes

(today - time['date'])/np.timedelta64(1,'m')

In [ ]:
# in hours

(today - time['date'])/np.timedelta64(1,'h')